html {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #191B1F;
}